.field.MuiFormControl-root{
    margin:15px;
    text-align: left;
   // display: block;
}

.field{
    width:80%;
}

.form-body{
    width:90%;
    display: block;
    margin:10px auto;
    background-color: pink;
}